
chromadb==0.6.3


huggingface-hub==0.30.2

ipykernel==6.29.5
ipython==8.35.0
streamlit==1.44.1

langchain==0.3.23
langchain-chroma==0.2.2
langchain-community==0.3.20
langchain-core==0.3.55
langchain-groq==0.3.2
langchain-huggingface==0.1.2
langchain-mistralai==0.2.10
langchain-ollama==0.3.1
langchain-openai==0.3.14
langchain-postgres==0.0.13
langchain-text-splitters==0.3.8
langgraph==0.3.31
langgraph-checkpoint==2.0.24
langgraph-checkpoint-sqlite==2.0.6
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.61
langsmith==0.3.19


ollama==0.4.7

pgvector==0.3.6
watchdog==6.0.0

torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0

